<div class="card h-100">
    <div class="card-header">
        {{name}}
    </div>
    <div class="card-body">
        <div class="plans_price">
            <span class="plans_price_amount">{{price}}</span>
        </div>
        <div class="plans_features">
            {{#each features}}
                <div class="plans_features_item">{{.}}</div>
            {{/each}}
        </div>
        <button class="btn {{#if @first}}btn-outline-primary {{else}}btn-primary {{/if}}card_button">{{button}}</button>
    </div>
</div>